<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Register New Region</title>
    <link rel="stylesheet" href="/webjars/bootstrap/4.5.0/css/bootstrap.min.css"/>
    <script src="/webjars/bootstrap/4.5.0/js/bootstrap.min.js"></script>
<body>
<form th:object="${region}" th:action="@{/region/create}" method="post" enctype="multipart/form-data">
    <div class="container">
        <div class="panel panel-primary">
            <div class="panel-heading" style="background-color:lightgray;">
                <h1 class="panel-title">Region Data</h1>
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-md-3 form-group">
                        <label th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></label>
                        <label>Region Name:</label>
                        <input type="text" class="form-control" th:field="*{name}"/>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-7 ml-md-auto">
                    <button type="submit" class="btn btn-primary">Register Region</button>
                </div>
            </div>
        </div>
    </div>
</form>
</body>
</html>